[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "Harman git training "
[access "refs/*"]
	owner = group user/MohammedSK
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/MohammedSK
	label-Verified = -1..+1 group user/MohammedSK
	push = group user/MohammedSK
	read = group user/MohammedSK
	rebase = group user/MohammedSK
	removeReviewer = group user/MohammedSK
	submit = group user/MohammedSK
[access "refs/heads/*"]
	create = group user/MohammedSK
	push = +force group user/MohammedSK
	pushMerge = group user/MohammedSK
	read = group user/MohammedSK
[access "refs/tags/*"]
	push = group user/MohammedSK
	push = +force group user/MohammedSK
